.vscode/
hyperv/
install/binutils-2.31.1/
src/src/samples/
src/bin/*.bin
src/bin/*.iso
src/lib/*.o
src/grub/*.bin
src/grub/boot/grub/*.cfg
*.code-workspace
i686-elf-tools-windows.zip
i686-elf-tools-linux.zip